SECRET_KEY=django-insecure-0du4x_ni4%rqp!-^2xru9nxl(xj)qzjz8--3q*!eoza52&4
DEBUG=True

POSTGRES_USER=mlpostgres
POSTGRES_PASSWORD=mlpassword
POSTGRES_DB=mldb
POSTGRES_APP=mlpostgresql
POSTGRES_PORT=5433