Django==5.2
django-cors-headers==4.2.0
django-dotenv==1.4.2
   
gunicorn==21.2.0
 
pillow==12.2.0
psycopg2-binary==2.9.12
 
 
load_dotenv

channels[daphne]
channels-redis
 
django-redis


djangorestframework-simplejwt
django-rest-framework
pytest-django

pandas
numpy
matplotlib
scikit-learn

yfinance

keras

tensorflow

drf_yasg